*{
    margin: 0;
}
body{
    background: #000000;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 2em;
}
nav{
    display: flex;
    gap: 3.25em;
}
button{
    background-color: #000000;
    border: #8257E5 2px solid;
    color: white;
    border-radius: 6px;
    font:700 normal 14px 'Manrope';
    letter-spacing: 0.02em;
    width: 150px;
    height: 50px;
    padding: 15px 15px 15px 15px;
}
button:hover{
    background-color: #8257E5;
    border: black 2px solid;
    color: white;
    border-radius: 6px;
    font:700 normal 14px 'Manrope';
    letter-spacing: 0.02em;
    width: 150px;
    height: 50px;
    padding: 15px 15px 15px 15px;
}
a{
    font: 400 normal 19px 'Manrope' ;
    text-decoration: none;
    color: white;
    letter-spacing: 0.02em;
    
}
main{
    margin-top: 50px;
    text-align: center;
}
h1{
    font: 700 normal 80px 'Manrope';
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    letter-spacing: -0.03em;
}
h2{
    font: 700 normal 80px 'Manrope';
    letter-spacing: -0.03em;
    text-shadow: -1px -1px 0px #8257E5, 
    -1px 1px 0px #8257E5,
    1px -1px 0px #8257E5,                  
    1px 0px 0px #8257E5;
    line-height: 50px;
}